*{
  margin: 0px;
}
body{
  width: 100%;
}
.cabecalho{
  width: 100%;
  height: 19%;
  align-items: center;

}
.cabecalho img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 90px;
   height: 90px;
}
.nav{
  background-color: #c68c53;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.nav ul{
  list-style: none;
}
.nav li{
  padding: 10px;
  padding-right: 13px;
  font-size: 20px;
  color: #ffffff;
  float: left;
}
.nav li:hover{
  background: #ac7339;
  color: #000000;
}
.body{
  width: 99%;
  margin: 6px;
  min-height: 450px;
  align-items: center;
  border: 0;

}
.noticia{
  width: 9  0%;
  margin: 0 auto;
}
.noticia #titulo{
  font-size: 20px;
  font-family: sans-serif;
  color: #804000;
  width: 100%;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 6px;
  padding: 3px;
  text-transform: uppercase;
}
.noticia #conteudo {
   font-size: 13px;
   text-align: justify;
}
.noticia #conteudo img{
  width: 30%;
  min-height: 200px;
  align-items: center;
  margin: 0 auto;
  margin-left: 5px;

}
.noticia #conteudo p{
  font-size: 16px;
  font-style: italic;
  text-transform: capitalize;
  font-family: inicial;
  line-height: 18px;
  width: 68%;
  padding-right: 8px;
  padding-left: 4px;
  float:right;
  margin-right: 5px;
  min-height: 200px;
  margin-top: 16px;
}

.noticia #conteudo div h5{
   font-size: 18px;
   text-align: left;
   color:white;
   font-style: italic;
   margin-top: 22px;
   text-transform: capitalize;
}

.rodape{
  background-color:#c68c53;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.rodape p{
 text-align: center;
 text-decoration: underline;
 margin: 0;
 color: #ffffff;
}
.rodape p:hover{
  color: #000000;
}
